.modal-window-fp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 100000;
}

.modal-window-fp__scale-cont {
    position: relative;
    width: 968px;
    height: 926px;
}

.modal-window-freeplay-alert {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 12, 32, 0.88);
    z-index: 100;
}

.modal-window-freeplay-alert-cont {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform-origin: 50% 20vh;
    width: 989px;
    height: 451px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.modal-window-freeplay-alert__text {
    /*position: absolute;*/
    font-size: 50px;
    outline: none;
    color: #00F5FE;
    box-shadow: none;
    text-shadow: rgba(0,149,229,1) 5px 5px 20px, rgba(0,149,229,1) -5px -5px 20px ;
}

.modal-window-freeplay-alert__back {
    position: absolute;
    z-index: -1;
}
.modal-window-freeplay-alert__ok {
    position: relative!important;
}

.modal-window-freeplay input {
    position: absolute;
    resize: none;
    border: none;
    width: 440px;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /*height: 25px;*/
    font-size: 23px;
    outline: none;
    color: #FFA124;
    background: rgba(0,0,0,0);
    box-shadow: none;
    z-index: 1;
    left: 293px;
}

.modal-window-fp__fields {
    position: absolute;
    resize: none;
    border: #FAD123;
    font-family: 'Patua One', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    width: 629px;
    height: 25px;
    left: 199px;
    font-size: 23px;
    outline: none;
    color: #67F0BC;
    background: rgba(0,0,0,0);
    box-shadow: none;
    z-index: 10;
}

.modal-window-fp__name {
    top: 282px;

}

.modal-window-fp__phone {
    top: 505px;

}

.modal-window-fp__email {
    top: 614px;

}

.modal-window-fp__pass {
    top: 390px;
    font-size: 32px;
}

.modal-window-fp__close {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    left: 850px;
    top: 149px;
    z-index: 10;
}

.modal-window-fp__submit {
    position: absolute;
    cursor: pointer;
    width: 273px;
    height: 87px;
    top: 698px;
    left: 342px;
    z-index: 10;
}

.modal-window-fp__back {
    position: absolute;
    width: 968px;
    height: 926px;
    left: 0;
}