.modal-window-reginfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 100000;
}

.modal-window-reginfo__scale-cont {
    position: relative;
    transform-origin: 50% 10%;
    width: 1646px;
    height: 887px;
}

.modal-window-reginfo__coins {
    position: absolute;
    z-index: 10;
    left: 0;
    animation: coinsmove 3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate;
}

.modal-window-reginfo__close {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    left: 1480px;
    top: 141px;
    z-index: 20;
}

.modal-window-reginfo__back {
    position: absolute;
    width: 1646px;
    height: 887px;
    left: 0;
}

@keyframes coinsmove {
    0% {
        transform: translateZ(40px);
    }

    100% {
        transform: translateY(-41px) translateX(-23px) translateZ(50px);
    }
}